<% @movie_new.each do |m| %>
  <div class="item_home">
    <%= link_to detail_movie_path(m.id), class: "item_home" do %>
      <%= image_tag m.image_url.url, class: "image_item_home" %>
      <div class="text_home_frame">
        <p><%= m.name %></p>
      </div>
    <% end %>
  </div>
<% end %>
