<div class="home_left" style="margin-bottom: 5px; height: 1380px;">
  <div class="home_top" style="height: 1380px;">
    <div class="content_home">
      <p>
        Giỏ phim của bạn :
      </p>
    </div>
    <div class="home_frame">
      <div class="item_home_frame" id="item_home_frame">
        <%= render "movie_carts/item_movie_cart" %>
      </div>
    </div>
    <div style="width: 100%; height: 40px;">
      <div style="width: 30%; margin:auto;">
        <%= paginate @movie, theme: "twitter-bootstrap-3", window: 3 %>
      </div>
    </div>
  </div>
</div>
<div class="home_right">
  <div class="home_top">
    <div class="content_home">
      <p>
        Phim sắp chiếu
      </p>
    </div>
    <div class="home_frame">
      <%= render "movie_carts/item_coming_soon" %>
    </div>
  </div>
</div>
<% if !current_user.nil? && current_user.user_role_id == 3 %>
    <div style="min-height: 80px; width: 100px; position:fixed; z-index: 9999; margin-top: 400px; margin-left: -110px;">
      <%= link_to movie_carts_url, class: "link_gio_phim" do %>
        <div class="Giophim">
          <div style="height: 5px; width: 100%;">
          </div>
          <div style="height: 100%; width: 15px;">
          </div>
          <i class="fa fa-qq" style="font-size: 30px;"></i>
          <p>Giỏ phim</p>
        </div>
      <% end %>
    </div>
  <% end %>
<div style="clear: both;">

</div>
