$color_body: #f8f9fa;
$color_footer: #f2f3f4;
$color_light_gray: rgba(72, 75, 81, 1);
$color_light_gray_1: rgba(72, 75, 81, 0.8);
$color_blue_sky: #8aa5fe;
$color_transparent_black:  rgba(0, 0, 0, 0);
$color_transparent_black_1: rgba(0, 0, 0, 0.8);
$color_transparent_black_2: rgba(0, 0, 0, 0.5);
$color_transparent_black_3: rgba(0, 0, 0, 0.3);
