<div class="footer_frame">
  <div class="logo_frame">
    <%= link_to image_tag("Noel.png", class: "logo_nav"), root_path %>
  </div>
  <p>
    <%= t "footer.content"%>
  </p>
  <p class="text_footer">
    Phone: <%= link_to "0931359020", "#", class: "text_footer_link" %>
    <br />
    Email: <%= link_to "hungvuongdora@gmail.com", "#", class: "text_footer_link" %>
  </p>
</div>
